/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* VARIABLES */
:root {
  --background-color: #222831;
  --background-secondary: #31363F;
  --text-primary: #EEEEEE;
  --text-secondary: #76ABAE;
  --primary-color: #fb6a27;
  --dark-color: #0f0f0f;
  --gray-color: gray;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --small-font-size: 14px;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* GLOBAL CSS */
section {
  padding: 130px 0;
}

section .section-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-transform: uppercase;
}

.btn-orange {
  background-color: var(--primary-color);
  color: white;
  transition: .3s ease-in-out;
}

.btn-orange:hover {
  background-color: #128C7E;
  color: var(--text-primary);
}

.text-orange {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.fs-7 {
  font-size: var(--small-font-size);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

/* LOGIN */
body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.register-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2,
.register-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-container .form-label,
.register-container .form-label {
  font-size: 1rem;
  font-weight: 500;
  color: #495057;
  padding: 0 10px;
}

.login-container .form-control,
.register-container .form-control {
  padding: 10px 15px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.login-container .btn-primary,
.register-container .btn-primary {
  padding: 10px 15px;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #007bff;
  border: none;
  color: var(--text-primary);
  font-size: 15px;
}

.login-container .btn-primary:hover,
.register-container .btn-primary:hover {
  background-color: #0056b3;
}

.login-container p,
.register-container p {
  margin-top: 1rem;
}

.login-container a,
.register-container a {
  color: #007bff;
}

.login-container a:hover,
.register-container a:hover {
  color: #0056b3;
}

/* DASHBOARD */
body {
  background-color: var(--text-primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  margin-bottom: 0;
  position: relative;
}

.navbar-brand {
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--background-secondary);
}

.dashboard-container {
  padding: 0;
  display: flex;
  flex: 1;
}

.sidebar {
  width: 300px;
  background-color: #343a40;
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

.sidebar a i {
  margin-right: 1.5rem;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.card {
  margin-bottom: 2rem;
  border: none;
}

.card-header {
  background-color: var(--text-primary);
  border-bottom: none;
  font-size: 1.5rem;
}

.card-body {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: #cfcfcf 0px 0px 5px;
  padding: 1.5rem;
}

.card-body i {
  font-size: 5rem;
  color: var(--background-color);
}

.card-body p {
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-secondary);
}

.card-footer {
  background-color: #f8f9fa;
}

.logout-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background-color: #C96868;
  color: white;
}

.logout-btn:hover {
  background-color: #E78F81;
  color: white;
}

.table-container {
  max-height: 350px;
  overflow-y: auto;
}