@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #6366f1; /* indigo-500, light mode */
}

html.dark {
  --accent: #60a5fa; /* sky-400, contoh untuk dark mode */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
.heading-font {
  font-family: "Poppins", sans-serif;
}
